.sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 54px;
	background-color: white;
	width: 72px;
	padding-top: 5px;
	z-index: 100;
}

.sidebar-button {
	height: 74px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sidebar-icon {
	width: 24px;
	margin-bottom: 5px;
}

.sidebar-button p {
	font-size: 10px;
	line-height: 1.5;
}

.sidebar-button:hover {
	background-color: rgb(245, 245, 245);
}
